<style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 0px; 
      }
     .formrails {
	margin:auto;
      }

      .formrails .container{
	width:400px;
	
	}

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; 
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

	  .login-form {
		margin-left: 65px;
	  }
	
	  legend {
		margin-right: -50px;
		font-weight: bold;
	  	color: #404040;
	  }

    </style>

<section  id="features" >

                <div id="features-banner" data-stellar-background-ratio="0" >
 <div class="formrails">
<div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Reset Your Password</h2>
<hr />
          <%= form_tag "/password-reset", :method=> :post do %>
           <% if flash[:alert] %>
              <div class="alert alert-error">
                  <a href="#" class="close" data-dismiss="alert">×</a>
                  <%= flash[:alert] %>
              </div>
            <% end %>


            <% if flash[:notice] %>
              <div class="alert alert-success">
                  <a href="#" class="close" data-dismiss="alert">×</a>
                  <%= flash[:notice] %>
              </div>
            <% end %>
            <fieldset>
              <div class="clearfix">
                <%= text_field_tag :email, nil, :placeholder=>"Email address"%>
              </div>
              
                      <%= submit_tag "Reset Password" , :class=>"btn primary" %>

            </fieldset>
        <% end %>

          
        </div>
      </div>
    </div>
  </div>
  </div> <!-- /container -->

                </div>
</section>

